.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .mat-elevation-z8 {
    margin: 10px;
  }
  